#menu {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
}

#navContainer {
  font-family: "Instrument Sans";
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 1rem;
}
#navbar {
  border: #fff 0.05rem solid;
  border-radius: 5rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#links {
  display: flex;
  scale: 1 !important;
  gap: 1rem;
}

#links > a {
  text-decoration: none;
  color: white;
  border: #fff 0.05rem solid;
  border-radius: 5rem;
  padding: 0.2rem 1rem;
}

@media (width <= 700px) {
  #menu {
    display: block;
  }
  #links > a {
    transition: 1s;
    opacity: 0;
  }
  #links > a:nth-child(1) {
    transition-delay: 0.1s;
  }
  #links > a:nth-child(2) {
    transition-delay: 0.2s;
  }
  #links > a:nth-child(3) {
    transition-delay: 0.3s;
  }
  #links > a:nth-child(4) {
    transition-delay: 0.4s;
  }
  #links > a:nth-child(5) {
    transition-delay: 0.5s;
  }
  #links.opened > a {
    opacity: 1;
  }
  #links {
    scale: 0;
    flex-direction: column;
    align-self: flex-start;
    justify-self: end;
    position: absolute;
    right: 1rem;
    top: 5rem;
  }
}
