* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans";
  display: flex;
  overflow: hidden;
  background-image: url("img/background.jpg");
  background-size: cover;
  flex-direction: column;
  color: #fff;
}

#first {
  gap: 1rem;
}

.blue-text {
  color: #95e3f9;
}
#header {
  font-size: 10rem;
}

#shadow {
  position: absolute;
  left: -50vh;
  width: 100vh;
  height: 100vh;
  z-index: 10000;
  display: flex;
  opacity: 50%;
  background: radial-gradient(#373def, #05449600 70%);
}

#navContainer {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 1rem;
}
#navbar {
  border: #fff 0.05rem solid;
  border-radius: 5rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#navbar > #links {
  display: flex;
  gap: 1rem;
}

#links > a {
  text-decoration: none;
  color: white;
  border: #fff 0.05rem solid;
  border-radius: 5rem;
  padding: 0.2rem 1rem;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#earth {
  z-index: -100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: -10rem;
}
#CourseButton {
  background: linear-gradient(to right, #6164ac, #04075d);
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Instrument Sans";
  border-radius: 0.5rem;
  color: white;
}
