<div id="shadow"></div>

<div id="first" class="pageContainer" id="home">
  <h1 id="header">Build <a class="blue-text">School</a></h1>
  <i class="hero-subtitle">
    Inviting and <i class="blue-text">inspiring</i> for learning and skill
    <i class="blue-text">acquisition</i>
  </i>

  <b>Learn to build use cases with it in 8 weeks program</b>
  <button id="CourseButton">Sessions</button>

  <b class="hero-date">begins, January 2025</b>
  <img src="img/earth.png" alt="earth" id="earth" />
</div>
