<div class="speakers-container">
  <div class="main-box">
    <div class="title">Instructor Bios</div>
    <div class="instructor-container">
      <a
        href="https://www.linkedin.com/in/rakhipal?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        class="instructor-card"
      >
        <div
          class="instructor-img"
          style="
            background-image: url('https://media.licdn.com/dms/image/v2/C4E03AQGYWxFikxNp4Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1631604743405?e=2147483647&v=beta&t=9lsiPwrg8Yv3LFJXdlWK1iNDw3l9b4en2nenFANJraM');
          "
        ></div>
        <div class="name-box">Rakhi Pal</div>
        <div class="designation">Founder At</div>
        <div class="company">BUZZLAB</div>
      </a>

      <a
        href="https://www.linkedin.com/in/sindhubiswal?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        class="instructor-card"
      >
        <div
          class="instructor-img"
          style="
            background-image: url('https://media.licdn.com/dms/image/v2/D5603AQE04zMPoG1-cA/profile-displayphoto-scale_200_200/B56ZguOUclHQAY-/0/1753122163920?e=2147483647&v=beta&t=q7E3HKRbLMH-Lg-NOaAm5sSvs08t1IlkrlgA3e7Ug8c');
          "
        ></div>
        <div class="name-box">Sindhu Biswal</div>
        <div class="designation">Co-Founder At</div>
        <div class="company">EVENTBEEP</div>
      </a>

      <a
        href="https://www.linkedin.com/in/kritagyanayyar?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        class="instructor-card"
      >
        <div
          class="instructor-img"
          style="
            background-image: url('https://media.licdn.com/dms/image/v2/D5603AQFU7VVfGDeV5Q/profile-displayphoto-scale_200_200/B56ZjlmAKiHUAY-/0/1756198603597?e=2147483647&v=beta&t=5F6BusOSa6piGPiZmMR2UzSbpb8BzSDrwLrb7Pv28tM');
          "
        ></div>
        <div class="name-box">Kritagya Nayyar</div>
        <div class="designation">Product Manager</div>
        <div class="company">ADOBE</div>
      </a>

      <a
        href="https://www.linkedin.com/in/ajaymittal83?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        class="instructor-card"
      >
        <div
          class="instructor-img"
          style="
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvClyJlRw9JYXx977g_Fzstp9s3zu2onLnNQ&s');
          "
        ></div>
        <div class="name-box">Ajay Mittal</div>
        <div class="designation">Design Lead</div>
        <div class="company">Amazon</div>
      </a>
    </div>
  </div>
</div>
